.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
}

.logo {
  width: 80px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-items > ul > li {
  padding: 0px 16px;
}

.cart {
  width: 24px;
}

.search {
  padding: 8px;
}

.res-card {
  padding: 8px;
  width: 200px;
  height: auto;
  background-color: antiquewhite;
  border-radius: 8px;
  margin: 8px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-logo {
  width: 100%;
}

.text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.res-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.shimmer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 350px;
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
}

.filter-btn {
  margin: 8px;
  cursor: pointer;
}

.toggle-btn {
  padding: 8px;
  border-radius: 5px;
}